@page "/fetchdata"
@using ViewModels
@inject ProizvodViewModel ProizvodViewModel;

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (ProizvodViewModel?.Proizvodi == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ime</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var proizvod in ProizvodViewModel.Proizvodi.Data)
            {
                <tr>
                    <td>@proizvod.Id</td>
                    <td>@proizvod.Ime</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        await ProizvodViewModel.OnInit();
    }

 
}
