@page "/ponuda"
@using InfrastructureFE
@using PonudaBlazor.Components.PonudaComponents
@using ViewModels
@inject PonudaViewModel PonudaViewModel;
@inject NavigationManager NavigationManager;

<PonudaLista Ponude="@PonudaViewModel.Ponude.Data" OnClickCallBack="@OnClick"></PonudaLista>
<p>@message</p>

@code
{
    protected override async Task OnInitializedAsync()
    {
        await PonudaViewModel.OnInit();
    }
    string message = string.Empty;
    private void OnClick(Guid id)
    {
        NavigationManager.NavigateTo($"{UrlStrings.PonudaUrl}/{id}");
    }
}