@page "/ponuda"
@using InfrastructureFE
@using PonudaBlazor.Components.PonudaComponents
@using ViewModels
@inject PonudaViewModel PonudaViewModel;
@inject NavigationManager NavigationManager;

<PonudaLista Ponude="@PonudaViewModel.Ponude.Data" OnClickCallBack="@OnClick"></PonudaLista>
<div class="">
    <span class="oi oi-media-skip-backward" @onclick="PonudaViewModel.FirstPage"></span>
    <span class="oi oi-arrow-thick-left" @onclick="PonudaViewModel.PrevoiusPage"></span>
    <span >@PonudaViewModel.GetPageStatus()</span>
    <span class="oi oi-arrow-thick-right" @onclick="PonudaViewModel.NextPage"></span>
    <span class="oi oi-media-skip-forward" @onclick="PonudaViewModel.LastPage"></span>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        await PonudaViewModel.OnInit();
    }
    private void OnClick(Guid id)
    {
        NavigationManager.NavigateTo($"ponuda/{id}");
    }
}