@page "/proizvod"
@using ViewModels
@inject ProizvodViewModel ProizvodViewModel;

<PageTitle>Proizvod</PageTitle>

@if (ProizvodViewModel?.Proizvodi == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ime</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var proizvod in ProizvodViewModel.Proizvodi)
            {
                <tr>
                    <td>@proizvod.Id</td>
                    <td>@proizvod.Ime</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        await ProizvodViewModel.OnInit();
    }

 
}
