@using FrontEnd.FrontEndDomain

@if(Ponude == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Status</th>
            <th>Datum pristizanja</th>
            <th>Zakonski zastupnik</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ponuda in Ponude)
        {
            <tr>
                <td>@ponuda.Status</td>
                <td>@ponuda.DatumPristizanja</td>
                <td>@ponuda.ZakonskiZastupnik</td>
                <td><span class="oi oi-external-link" @onclick="() => PassBackExpand(ponuda.Id)"></span></td>
                <td><span class="oi oi-trash" @onclick="() => PassBackDelete(ponuda.Id)"></span></td>
            </tr>
        }
    </tbody>

</table>
}

@code
{
    [Parameter]
    public List<Ponuda> Ponude { get; set; } = Enumerable.Empty<Ponuda>().ToList();

    [Parameter]
    public EventCallback<Guid> OnClickCallBackExpand { get; set; }
    [Parameter]
    public EventCallback<Guid> OnClickCAllBackDelete { get; set; }
    private async Task PassBackExpand(Guid id)
    {
        await OnClickCallBackExpand.InvokeAsync(id);
    }
    private async Task PassBackDelete(Guid id)
    {
        await OnClickCAllBackDelete.InvokeAsync(id);
    }

}