@using FrontEnd.FrontEndDomain;
<table class="table">
    <thead>
       <tr>
        <th>Kolicina</th>
        <th>Proizvod</th>
        <th>Jedinicna cena bez PDV</th>
        <th>Jedinicna cena sa PDV</th>
       </tr>
    </thead>
    <tbody>
        @foreach(StavkaStruktureCene stavka in StavkeStruktureCene)
        {
            <tr>
                <td>@stavka.Kolicina</td>
                <td>@stavka.Proizvod.Ime</td>
                <td>@stavka.JedinicnaCenaBezPdv</td>
                <td>@stavka.JedinicnaCenaSaPdv</td>
                <td><button ><span class="oi oi-pencil" aria-hidden="true"></span></button></td>
                <td><button><span class="oi oi-trash" aria-hidden="true"></span></button></td>
            </tr>
        }
    </tbody>
</table>


@code {
    [Parameter]
    public List<StavkaStruktureCene> StavkeStruktureCene { get; set; } = Enumerable.Empty<StavkaStruktureCene>().ToList();
}
